## 01_Overview

__Index__

1. __Loads dataset as pandas dataframe__ [⤵️](#1.-Loads-dataset-as-pandas-dataframe)
1. __Returns shape of dataframe__ [⤵️](#2.-Returns-shape-of-dataframe)
1. __Returns information about missing data__ [⤵️](#3.-Returns-information-about-missing-data)
1. __Returns number of duplicate rows__ [⤵️](#4.-Returns-number-of-duplicate-rows)
1. __Returns overview dataframe__ [⤵️](#5.-Returns-overview-dataframe)
1. __Saves overview dataframe to excel__ [⤵️](#6.-Saves-overview-dataframe-to-excel)

#### 0. Imports libraries and custom functions

In [1]:
# %load imports.py
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import import_ipynb
import functions as my

importing Jupyter notebook from functions.ipynb

#### 1. Loads dataset as pandas dataframe

In [2]:
df = pd.read_csv('data/input/results_181220.csv', encoding='latin-1')
df.head()

,Study,ID,Hash,Position,Query_ID,Query,URL,Main,Search Engine,Speed,...,tools analytics,tools analytics count,tools caching,tools caching count,tools content,tools content count,tools seo,tools seo count,tools social,tools social count
0,1,448108,df43982590e44eff66db3749d33cccca,1.0,1571,Tom Kaulitz,https://de.wikipedia.org/wiki/Tom_Kaulitz,https://de.wikipedia.org/,Google,0.502,...,0,0,0,0,0,0,0,0,0,0
1,1,448099,df43982590e44eff66db3749d33cccca,NaN,1571,Tom Kaulitz,https://de.wikipedia.org/wiki/Tom_Kaulitz,https://de.wikipedia.org/,Bing,0.502,...,0,0,0,0,0,0,0,0,0,0
2,1,448109,03d3ccbc0fd2df709c73515ccc788df5,2.0,1571,Tom Kaulitz,https://www.tz.de/stars/heidi-klum-foto-bill-t...,https://www.tz.de/,Google,2.698,...,0,0,0,0,0,0,0,0,0,0
3,1,448110,54ae93393075cef8db837a7c26fe9b1d,3.0,1571,Tom Kaulitz,https://www.bunte.de/starprofile/tom-kaulitz.html,https://www.bunte.de/,Google,2.377,...,Google Tag Manager,1,0,0,0,0,0,0,0,0
4,1,448100,54ae93393075cef8db837a7c26fe9b1d,NaN,1571,Tom Kaulitz,https://www.bunte.de/starprofile/tom-kaulitz.html,https://www.bunte.de/,Bing,2.377,...,Google Tag Manager,1,0,0,0,0,0,0,0,0

#### 2. Returns shape of dataframe

In [3]:
my.get_shape(df)

Informationen zum Datensatz:

63 Spalten, mit diesen Datentypen:
   - int64: 48
   - object: 12
   - float64: 3

Anzahl der Einträge: 457851

#### 3. Returns information about missing data

In [4]:
my.get_missing(df)

Information zu fehlenden Daten:

Datensatz hat insgesamt 35152 fehlende Inhalte

Übersicht der fehlenden Inhalte nach Spalten:
   - Position: 35152

#### 4. Returns number of duplicate rows

In [5]:
row_count = df.shape[0]
without_duplicates = df.drop_duplicates(subset=df.columns.to_list()[3:]).shape[0]

print('%d Duplikate gefunden.' % (row_count - without_duplicates))

0 Duplikate gefunden.

#### 5. Returns overview dataframe

In [6]:
df2, val_counts = my.get_overview(df)
df2

,Name,Type,# Missing,% Missing,# Error,% Error,Common,# Common,% Common
0,Study,int64,0,0.000000,0,0.0,1,333487,72.837451
1,ID,int64,0,0.000000,0,0.0,4094,1,0.000218
2,Hash,object,0,0.000000,0,0.0,437f15b3b4fe4778200f93a25f2301f2,77,0.016818
3,Position,float64,35152,7.677607,0,0.0,1,3175,0.693457
4,Query_ID,int64,0,0.000000,0,0.0,196,1120,0.244621
...,...,...,...,...,...,...,...,...,...
58,tools content count,int64,0,0.000000,0,0.0,0,454559,99.280989
59,tools seo,object,0,0.000000,0,0.0,0,426482,93.148644
60,tools seo count,int64,0,0.000000,0,0.0,0,426482,93.148644
61,tools social,object,0,0.000000,0,0.0,0,457303,99.880310
62,tools social count,int64,0,0.000000,0,0.0,0,457303,99.880310

#### 6. Saves overview dataframe to excel

In [7]:
df2.to_excel('data/output/overview_original.xlsx')

Back to Top [⬆️](#01_Overview)