## 2_Preparation

__Index__

1. __Drops Duplicates__ [⤵️](#1.-Drops-Duplicates)
1. __Transforms column names to lowercase__ [⤵️](#2.-Transforms-column-names-to-lowercase)
1. __Calculates URL length__ [⤵️](#3.-Calculates-URL-length)
1. __Drops non-numeric columns__ [⤵️](#4.-Drops-non-numeric-columns)
1. __Finds errors in speed column__ [⤵️](#5.-Finds-errors-in-speed-column)
1. __Replaces missing values__ [⤵️](#6.-Replaces-missing-values)
1. __Applies rule-based classification__ [⤵️](#7.-Applies-rule-based-classification)
1. __Saves overview dataframe to excel__ [⤵️](#8.-Saves-overview-dataframe-to-excel)
1. __Saves cleaned data__ [⤵️](#9.-Saves-cleaned-data)

#### 0. Imports and loads dataset

In [1]:
# %load imports.py
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import import_ipynb
import functions as my

importing Jupyter notebook from functions.ipynb

In [2]:
df = pd.read_csv('data/input/results_181220.csv', encoding='latin-1')

#### 1. Drops Duplicates

In [3]:
df.drop_duplicates(subset=df.columns.to_list()[3:], inplace=True)

#### 2. Transforms column names to lowercase

In [4]:
df.rename(columns=lambda x: x.lower(), inplace=True)

#### 3. Calculates URL length

In [5]:
df['url length'] = df['url'].str.len() - df['main'].str.len()

#### 4. Drops non-numeric columns

In [6]:
to_drop = my.get_drop_cols(df)
df.drop(columns=to_drop, inplace=True)
# ONE HOT ENCODING: search engine, micros

15 Spalten wurden entfernt:
   - study
   - id
   - hash
   - query_id
   - query
   - url
   - main
   - search engine
   - micros
   - tools ads
   - tools analytics
   - tools caching
   - tools content
   - tools seo
   - tools social

#### 5. Finds errors in speed column

In [7]:
df.loc[df['speed'] < 0, 'speed'] = -1

#### 6. Replaces missing values

In [8]:
df.replace(-100, -1, inplace=True)
df.fillna(-1, inplace=True)

#### 7. Applies rule-based classification

In [9]:
df2 = my.apply_seo_classes(df)
df.head()

,position,speed,check canonical,check description,check external links,check h1,check https,check internal links,check kw_count,check kw_density,...,source shop,source top,tools ads count,tools analytics count,tools caching count,tools content count,tools seo count,tools social count,url length,seo class
0,1.0,0.502,1,0,53,1,1,135,64,57.657,...,0,1,0,0,0,0,0,0,16,0
1,-1.0,0.502,1,0,53,1,1,135,64,57.657,...,0,1,0,0,0,0,0,0,16,0
2,2.0,2.698,1,1,37,3,1,140,9,9.473,...,0,1,0,0,0,0,0,0,98,3
3,3.0,2.377,1,1,15,2,1,149,6,13.333,...,0,1,0,1,0,0,0,0,28,3
4,-1.0,2.377,1,1,15,2,1,149,6,13.333,...,0,1,0,1,0,0,0,0,28,3

#### 8. Saves overview dataframe to excel

In [10]:
df3, val_counts = my.get_overview(df2)
df3.to_excel('data/output/overview_cleaned.xlsx')
df3.head()

,Name,Type,# Missing,% Missing,# Error,% Error,Common,# Common,% Common
0,position,float64,0,0.0,35152,7.677607,-1.0,35152,7.677607
1,speed,float64,0,0.0,14463,3.158888,-1.0,14463,3.158888
2,check canonical,int64,0,0.0,318,0.069455,1.0,331682,72.443218
3,check description,int64,0,0.0,316,0.069018,1.0,370137,80.842239
4,check external links,int64,0,0.0,316,0.069018,0.0,37568,8.205289

#### 9. Saves cleaned data

In [11]:
df2.to_csv('data/output/data_cleaned.csv', index=False)

Back to Top [⬆️](#2_Preparation)